/* public/css/drivers.css */
.table-container {
  overflow: auto;
}

.table-container table {
  min-width: 1280px;
  overflow: auto;
}

.table-container table thead tr {
  position: sticky;
  top: 0;
}

.table-container .view-wrapper {
  display: flex;
  flex-direction: row;
}

.table-container .view-wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.vehicle-col {
  min-width: max-content !important;
}

.vehicle-col ul li,
.vehicle-col .placeholder {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vehicle-col .placeholder {
  color: rgba(0, 0, 0, 0.6);
}